@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.light.background');
  --foreground: theme('colors.light.foreground');
}

.dark {
  --background: theme('colors.dark.background');
  --foreground: theme('colors.dark.foreground');
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
